################################################################################
#
# ~/.gitconfig
#
################################################################################

[user]
  name = Emanuel Duss
  email = me@emanuelduss.ch

[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  safecrlf = true
  editor = vim
  pager = less -FiMnRX

[init]
  defaultBranch = main

[alias]
  s = status
  c = commit
  hist = log --pretty=format:\"%h %ad [%an] | %s%d \" --date=short --all --decorate
  type = cat-file -t
  dump = cat-file -p
  update = "!f(){ git status && echo && echo Add/commit everything above? && echo Press Enter after optional commit message to continue or ^C to cancel: && read msg && git add -A && git commit -m ${msg:-Update} && echo && echo Pull/push? && read && git pull && git push; }; f"

[merge]
  tool = vimdiff
  conflictstyle = diff3

[color]
  ui = true
  status = auto
  branch = auto
  interactive = auto
  diff = auto

[push]
  default = matching

[pull]
  rebase = true

[fetch]
  prune = true

[diff]
  colorMoved = zebra

[difftool]
  prompt = false

[init]
  defaultBranch = main

[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work

[includeIf "hasconfig:remote.*.url:https://git.internal.example.net/**"]
  path = ~/.gitconfig-internal

[includeIf "hasconfig:remote.*.url:git@git.internal.example.net:*/**"]
  path = ~/.gitconfig-internal
