#
# ~.gitconfig
#

[user]
	name = Emanuel Duss
	email = me@emanuelduss.ch
[core]
	autocrlf = input
    excludesfile = ~/.gitignore_global
	safecrlf = true
	editor = vim
	pager = less -FiMnRX
[alias]
	s = status
	c = commit
	hist = log --pretty=format:\"%h %ad [%an] | %s%d \" --date=short --all --decorate
	type = cat-file -t
	dump = cat-file -p
[merge]
	tool = vimdiff
[color]
	ui = true
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[push]
	default = matching
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
