################################################################################
#
# ~/.gitconfig
#
################################################################################

#
# Personal Information
#

[user]
  name = Emanuel Duss
  email = me@emanuelduss.ch
  signingkey = /home/emanuel/.ssh/id_rsa.pub

#
# Commit Signing
#

[gpg]
  format = ssh

[commit]
  gpgsign = true

# Required on Windows for ssh-agent support
# [gpg "ssh"]
#   program = C:/windows/System32/OpenSSH/ssh-keygen.exe

#
# Default Behaviour
#

[core]
  autocrlf = input
  excludesfile = ~/.gitignore_global
  safecrlf = true
  editor = vim
  pager = less -FiMnRX
  # sshCommand = C:/Windows/System32/OpenSSH/ssh.exe # Used on Windows

[init]
  defaultBranch = main

[push]
  default = matching

[pull]
  rebase = true

[fetch]
  prune = true

#
# Diffing
#

[merge]
  ff = only
  tool = vimdiff
  conflictstyle = diff3

[diff]
  colorMoved = zebra
  algorithm = histogram

[difftool]
  prompt = false

#
# Colors
#

[color]
  ui = true
  status = auto
  branch = auto
  interactive = auto
  diff = auto

#
# Aliases
#

[alias]
  b = branch
  c = commit
  d = diff
  s = status
  l = log --color=always --all  --pretty='%C(yellow)%h%C(reset) %<|(30)%C(blue)%aN%C(reset) %<|(45)%C(green)%cr%Creset %s%C(yellow)%d%Creset' --abbrev-commit --decorate
  type = cat-file -t
  dump = cat-file -p
  update = "!f(){ git status && echo && echo Add/commit everything above? && echo Press Enter after optional commit message to continue or ^C to cancel: && read msg && git add -A && git commit -m ${msg:-Update} && echo && echo Pull/push? && read && git pull && git push; }; f"
  wdiff = "diff --color-words"


#
# Includes
#
# Must be at the end to overwrite previous settings
#

[includeIf "gitdir:~/work/"] # Trailing slash is required
  path = ~/.gitconfig-work

[includeIf "hasconfig:remote.*.url:https://git.internal.example.net/**"]
  path = ~/.gitconfig-internal

[includeIf "hasconfig:remote.*.url:git@git.internal.example.net:*/**"]
  path = ~/.gitconfig-internal
