#
# ~/.xinitrc
#

if [ -d /etc/X11/xinit/xinitrc.d ]
then
  for f in /etc/X11/xinit/xinitrc.d/*
  do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

eval `ssh-agent`
xterm -T "SSH Agent" -bg "#2F343F" -fg "#D3D7CF"  \
  -fa "xft:Bitstream Vera Sans Mono:pixelsize=14" \
  -e "figlet SSH Agent 2>/dev/null || echo SSH Agent; ssh-add; echo OK. Thanks; sleep 1"

eval `gpg-agent --daemon`

xmodmap ~/.xmodmaprc
xbindkeys
/usr/local/bin/autolock &
xss-lock -- i3lock -u -c 2F343F --pointer default &
redshift-gtk &
keepassx2 &
if [ -f ~/.fehbg ]
then
  ~/.fehbg &
fi
