#
# ~/.xinitrc
#

if [ -d /etc/X11/xinit/xinitrc.d ]
then
  for f in /etc/X11/xinit/xinitrc.d/*
  do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

eval `ssh-agent`
urxvt -fn "xft:Bitstream Vera Sans Mono:pixelsize=23" \
  -bg red -fg black -geometry 80x4 -e sh -c "ssh-add"

eval `gpg-agent --daemon`

xrandr --dpi 109 &
xrdb ~/.colors/tango
xmodmap ~/.xmodmaprc
#echo 255 | sudo tee /sys/devices/platform/i8042/serio1/serio2/speed
#echo 200 | sudo tee /sys/devices/platform/i8042/serio1/serio2/sensitivity
xbindkeys
/usr/local/bin/autolock &
urxvt -e tmux &
keepassx2 &
if [ -f ~/.fehbg ]
then
  sleep 1 && ~/.fehbg &
fi
